@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  @include flex;
}

.flex-center {
  @include flex-center;
}

.flex-start-center {
  @include flex-start-center;
}

.flex-start {
  @include flex-start;
}

.flex-between {
  @include flex-between;
}

.flex-around {
  @include flex-around;
}

.flex-column {
  @include flex-column;
}

.flex-column-center {
  @include flex-column-center;
}
